<h1>LOGIN as LAB</h1>

<%=form_tag labs_det_path, method:"post" do %>
  <div class="field">
    <%= text_field_tag("lab_id") %>
  </div>
  <%= submit_tag "Login to Lab" %>

<%end %>
<%= link_to 'Back to Login', labs_login_path %>