<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>
<%= link_to "Redirect to lab", labs_login_path%>
<br>
<%= link_to "Redirect to doctor", doctors_login_path%>
<br>
<%= link_to "Redirect to patient", patients_login_path%>
