<br><br>
<div class="container">
  <div class="jumbotron text-dark">
    <center>
      <div class="card" style="width:95%;">
        <div class="card-title" style="font-size: xx-large;"><br><b>New Prescription</b></div>
        <div class="card-body" align="left">

            <%= render 'form', prescription: @prescription %>
            <br>
          <div style="text-align:right;">
            <%= link_to 'Back',  doctors_login_path, :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>